* {
  box-sizing:border-box;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0px;
  background-color: #cedbe0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.logo {
    max-height: 100px;
    max-width: 150px;
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .spacing{
    width: 100px;
  }

  #menu {
    display: block;
    float: inline-start;
  }

  .navbar {
    width: 100%;
    padding: 0 8px;

    display: flex;
    align-items: stretch;

    background-color: #38454b;
    box-shadow: 0 0 2px black;
  }

  .navbar a {
    color: rgb(219, 239, 243);
    text-decoration: none;
    font-weight: bold;
    padding: 0 8px;
    display: flex;
    align-items: center;
    
  }

  .navbar a:hover {
    text-shadow: 0 0 2px white;
    background-color: #283236;
  }

  .select-table img{
    max-width: 200px;
  }

  #select-container {
    display: flex;
    justify-content: space-evenly;
  }

  #character-container {
    color:rgb(58, 50, 26);
    margin-right: 8px;
    border: 3px solid rgb(180, 161, 98);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(148, 133, 85);
    border-radius: 8px;
    overflow: hidden;
  }
  #character-container h3{
    width: 100%;
    margin: 0px;
    display: flex;
    padding: 16px;
    justify-content: center;
    background-color: rgb(180, 161, 98);
  }
  #enemy-container {
    color:rgb(217, 205, 230);
    margin-left: 8px;
    border: 3px solid rgb(89, 78, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(64, 53, 75);
    border-radius: 8px;
    overflow: hidden;
  }
  #enemy-container h3{
    width: 100%;
    margin: 0px;
    display: flex;
    padding: 16px;
    justify-content: center;
    background-color: rgb(89, 78, 100);
  }
  #character-content{
    display: flex;
  }
  #character-content .select-table {
    background-color: rgb(180, 161, 98);
    margin: 8px;
    border-radius: 8px;
    border-top-right-radius: 20px;
    overflow: hidden;
  }
  #enemy-content{
    display: flex;
  }
  #enemy-content .select-table {
    background-color: rgb(89, 78, 100);
    margin: 8px;
    border-radius: 8px;
    border-top-right-radius: 20px;
    overflow: hidden;
  }
  #form-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #select-form {
    width: fit-content;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #select-form h3 {
    margin: 6px;
  }
  #form-container label {
    margin-left: 16px;
  }

  /* Game Page */

  #container {
    margin: 24px;
    padding: 16px;
    background-color: rgb(142, 177, 179);
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
  }
  .sprite{
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 5px;
  }
  .char-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
    width: 200px;
    margin: 10px;
  }
  
  .enemy-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    width: 200px;
    margin: 10px;
  }
  .unitTab {
    background-color: rgb(180, 161, 98);
    margin: 8px;
    padding: 5px;
    border-radius: 8px;
    border-top-right-radius: 20px;
    overflow: hidden;
    width: 100%;

  }
  .enTab {
    background-color: rgb(64, 53, 75);
    color:rgb(217, 205, 230);
    margin: 8px;
    padding: 5px;
    border-radius: 8px;
    border-top-right-radius: 20px;
    overflow: hidden;
    width: 100%;

  }
  .char-content {
    display: flex;
  }
  .en-content {
    display: flex;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
  }
  #endTurnBtn {
    height: min-content;
    margin: 8px;
  }
  #menu {
    margin: 8px;
  }
  #menu p {
    margin: 0;
  }
  #game-log {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    overflow-y: scroll;
  }
  #game-log p {
    padding: 4px;
    margin: 0;
  }